html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dark-mode #root{
  background-color:#333333;
}

.restaurantCard{
  width:23%;
  border-radius: 5px;
  margin:1%;
  color:black!important;
  cursor:pointer;
  text-decoration:none;
}

.cuisines{
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark-mode .restaurantCard{
  background-color: #333333;
  color:white!important;
  /* border:1px solid white; */
}

.restaurantCard:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
}

.dark-mode .restaurantCard:hover{
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
}
.bodyContainer{
  display:flex;
  flex-wrap:wrap;
}

.searchWrapper{
  width:100%;
  max-width:300px;
  position:relative;
  margin-left:2.5%;
  margin-top:10px;
}

.searchWrapper input {
  width:100%;
  border-radius:30px;
  border:1px solid grey;
  padding : 0.5rem 1rem;
}

.searchWrapper input:focus{
  outline:none;
}

.searchWrapper img{
  height:70%;
  position:absolute;
  top:50%;
  right:15px;
  transform:translateY(-50%);
  cursor:pointer;
}

.dark-mode .shimmer-card{
  background-color:#333333;
}

.dark-mode .shimmer-thumbnail{
  background:#333333!important;
}

.shimmerWrapper{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.site-wrapper{
  width:100%;
  max-width:1920px;
  margin:0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 992px) {
  .restaurantCard{
    width:31%;
    margin:1%;
  }
}

@media only screen and (max-width: 768px) {
  .restaurantCard{
    min-width:31%;
    margin:1%;
  }

  .bodyContainer{
    display:flex;
    flex-wrap:nowrap;
    max-width:100%;
    overflow-x:scroll;
  }
}

@media only screen and (max-width: 576px) {
  .restaurantCard{
    min-width:45%;
    margin:2%;
  }
  
.bodyContainer{
  display:flex;
  flex-wrap:nowrap;
  max-width:100%;
  overflow-x:scroll;
}
}

